<!-- Validation failure messages -->
<% if @mytm.errors.any? %>
  <% @mytm.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add a TM</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_mytm" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tm_id -->
      <div class="form-group">
        <label for="tm_id" class="control-label">
          TM Number
        </label>

        <input type="text" id="tm_id" name="tm_id" placeholder="1 - 50" class="form-control" value="<%= @mytm.tm_id %>">
      </div>

      <!-- Label and input for trainer_id -->
      <div class="form-group">

        <input type="hidden" id="trainer_id" name="trainer_id" class="form-control" value="<%= current_trainer.id %>">
      </div>


      <button class="btn btn-success">
        Add
      </button>
      or
      <a href="/mytms">Cancel</a>
    </form>
  </div>
</div>
